#product {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.product-img {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 70vh;
}
.product-img img {
    height: 100%;
    filter: drop-shadow(2px 2px 5px black);
}
.product-info {
    flex: 1;
}
th, td {
    border: 1px solid white;
    padding: 5px;
}
@media screen and (max-width: 1024px) {
    #product {
        flex-direction: column;
    }
    .product-info {
        text-align: center;
    }
    .product-img img {
    }
}

#gallery {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    padding: 30px;
}
.collage {
    background: black;
    border-radius: 25px;
    width: 50vw;
}
#gallery iframe {
    padding: 20px;
}
@media screen and (max-width: 1024px) {
    #gallery {
        padding-top: 100px;
        flex-direction: column;
    }
    .collage {
        background: transparent;
    }
}
